:root{
    --background-blur:blur(16px !important)
}

body{

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
}
main{
    background: #0a0a0a;
    z-index: 10;
    position: relative;
    top: 100vh;
    overflow: hidden;
}
p{
    font-weight: 100;
    letter-spacing: 2px;
}
header{
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 100;

}
.navbar{
    position: fixed;
    width: 100vw;

}
 .blur{
    background: rgba(17, 24, 39, 0.5)!important; 
    backdrop-filter: blur(29px) !important;
}
/* navbar section  */
.navbar-nav{
    gap: 2rem   ;
}
.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}


@media(max-width:769px){
    .navbar-nav{
        padding-top: 2rem;
    }
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: #fcb30f;
}
.navbar-nav .nav-link.active{
    color: #fcb30f !important;
}
.nav-toggle{
    border: none !important;
}
.cuz-nav-toggle span{
    filter: invert(1) !important;
}
/* ends */
/* Hero section */
.hero-section{
    /* max-width: 1412px; */
    /* margin-inline: auto; */
    /* padding-top: 5rem; */
    z-index: 5;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.hero{
    display: inline-block;
    position: relative;
    width: 100%;
    height: inherit;
}
.hero video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ends */
.cuz-logo img{
    width: 30%;
    filter: invert(1);
}
@media(max-width:800px){
    .cuz-logo img{
        width: 20%;
    }
}
@media(max-width:720px){
    .cuz-logo img{
        width: 100%;
        transform: scale(1.8);
    }
}
/* hero section */
/* .hero{
    max-width: 1200px;
    margin-inline: auto;
} */

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    padding-top: 13rem;
    color: white;
}
.cuz-card{
    background: none !important;
}
.card-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 2rem 0;
    gap: 1rem;
}


.card{
       width: 300px;
    padding: 1rem;
    /* box-shadow: inset 2px -1px 20px 17px rgb(63 120 143 / 34%); */
    border: 0!important;

}

.card img{
    width: 100%;
}
.details h2{
    color: white;


}

.details p {
    color: #fcb30f;
}
.blog-cont{
    display: flex;
    margin-bottom: 2rem;
}
.blog-banner img{
    width: 100%;
}
.blog-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem ;
}
.blog-details h2{
    color: white;
    margin-bottom: 2rem;
}
.cuz-btn{
    padding: .5rem 1.5rem;
    background-color: #fcb30f;
    color: white;
    text-decoration: none;
}
@media(max-width:600px){
    .card-cont{
        justify-content: center;
    }
    .blog-cont{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width:769px){
    .card-cont{
        flex-wrap: wrap;
        justify-content: center;
    }
}
/* ends */

/* page inner  */
.content-I{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    ;
}
.pr-model{
    font-size: 1em;
    font-weight: 100;
    color: aliceblue;
}
.pr-name{
    color: aliceblue;
}
.size-table{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
   gap: 1rem;
}
.size-table h3{
    padding: 1rem 1.5rem;
    border: 1px solid white;
    color: white;
    position: relative;
    overflow: hidden;
}
/* .size-table .s::after{
    content: "";
    display: block;
    width: 2px;
    height: 135px;
    background-color: tomato;
    position: absolute;
    top: -48px;
    transform: rotate(-43deg);
    left: 19px;

}
.size-table .s::before{
    content: "";
    display: block;
    width: 2px;
    height: 103px;
    background-color: tomato;
    position: absolute;
    transform: rotate(43deg);
    top: -19px;
    left: 31px;
} */

.pr-cont-image{
display: grid;
grid-template-columns: 539px 80px;
gap: 1rem;
}
.pr-cont-image img{
    width: 100%;
}
/* ends */
/* list page  */
.cuz-main{
    background: #0a0a0a;
    z-index: 10;
    position: unset;
    top: 0;
    /* overflow: scroll; */
}
/* ends */













/* footer section */

footer{
    background-color: #212121;
    padding: 2rem 1rem;
}
.ft-cont{
    display: flex;
    justify-content: space-between;
}
.ft-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ft-logo img{
    width: 100%;
    filter: invert(1);
}
.cuz-ft-nav{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}
.cuz-ft-nav ul li a{
    color: white;
    text-decoration: none;
}

.cuz-ft-nav ul h3{
    color: white;
}
.ft-bottom p {
    color: white;
}
.cuz-ft-flex h3{
    color: white;
    font-size: 1.5em;
}
.cuz-ft-flex ul li {
    list-style-type: none;
}
.cuz-ft-flex ul li a{
    text-decoration: none;
    color: white;
    font-size: .9em;
    font-weight: 200;
}
.cuz-ft-flex ul li a:hover{
    color: #b4b4b4;
}
/* ends */

/* product inner carousel */

.carousel-item {
    padding: 15px;
    cursor: -webkit-grabbing;
  }
  .carousel-item img {
    border-radius: 30px;
    height: 500px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.21);
    transition: 0.25s linear;
  }
  .carousel-item:hover img {
    transform: translatey(-1%);
  }
  
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9 ;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 2px;
    position: relative;
    top: 30px;
  }
  .carousel-indicators li.active {
    background: #fff;
  }
  
  @media only screen and (max-width: 650px) {
    .carousel-item img {
      height: auto;
    }
  }
  .carousel-control-prev {
    left: -50px;
    margin: 0 -25px;
  }
  
  .carousel-control-next {
    right: -50px;
    margin: 0 -25px;
  }
/* ends */

/* look book  */
.cuz-grid{
    display: grid!important;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-areas:
        "small small big"
        "small small big"; */
    row-gap: 2rem;
    margin-bottom: 2rem;
}
@media(max-width:768px){
    .cuz-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:425px){
    .cuz-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.it img{
    width: 100%;
}
/* ends */
/* categories */
.categories{
    position: fixed;
    top: 14%;
    left: 5%;
    z-index: 99;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0.5rem;
    border-radius: 25px;
}
.navbar-collapse{
    z-index: 120;
}
.categories h2{
    color: white;
}
.categories ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
.categories ul li{
    color: #fcb30f;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.add{
    background: grey;
    border-radius: 20px;
}

/* ends */
/* helper  */
.cuz-ft-flex{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.cuz-bt{
    margin-bottom: 9rem;
}
.cuz-mt{
    margin-top: 5rem;
}
/* ends */























/* helpers  */
.active{
    display: flex;
}
.cuz-jf-end{
    justify-content: end;
}
.cuz-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/* ends */

/* background noise */
.bg-noise {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	pointer-events: none;
	overflow: hidden;
}
.bg-noise:before {
	position: absolute;
	content: '';
	top: -10rem;
	left: -10rem;
	width: calc(100% + 20rem);
	height: calc(100% + 20rem);
	z-index: -1;
	pointer-events: none;
	background-image: url(./assets/images/bg-noise.png);
	background-position: 50%;
	animation: BgNoise 1s steps(2) infinite;
}
@keyframes BgNoise {
	0% { transform: translate3d(0, 9rem, 0) }
	10% { transform: translate3d(-1rem, -4rem, 0) }
	20% { transform: translate3d(-8rem, 2rem, 0) }
	30% { transform: translate3d(9rem, -9rem, 0) }
	40% { transform: translate3d(-2rem, 7rem, 0) }
	50% { transform: translate3d(-9rem, -4rem, 0) }
	60% { transform: translate3d(2rem, 6rem, 0) }
	70% { transform: translate3d(7rem, -8rem, 0) }
	80% { transform: translate3d(-9rem, 1rem, 0) }
	90% { transform: translate3d(6rem, -5rem, 0) }
	to { transform: translate3d(-7rem, 0, 0) }
}

/* ends */