

body{

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
}
main{
    background: #0a0a0a;
}
p{
    font-weight: 100;
    letter-spacing: 2px;
}
/* navbar section  */
.navbar-nav{
    gap: 2rem   ;
}
/* ends */
/* Hero section */
.hero-section{
    max-width: 1412px;
    margin-inline: auto;
}
.hero{
    height: 714px;
    padding: 2rem 0 0 0;
    
}
.hero video{
    object-fit: cover;
    width: 100%;
    height: 89%;
}

/* ends */
.cuz-logo img{
    width: 30%;
}
@media(max-width:800px){
    .cuz-logo img{
        width: 20%;
    }
}
@media(max-width:720px){
    .cuz-logo img{
        width: 100%;
        transform: scale(1.8);
    }
}
/* hero section */
/* .hero{
    max-width: 1200px;
    margin-inline: auto;
} */

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    padding-top: 5rem;
    color: white;
}
.card-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 2rem 0;
}

.card{
       width: 300px;
    padding: 1rem;
    /* box-shadow: inset 2px -1px 20px 17px rgb(63 120 143 / 34%); */
    border: 0!important;

}
.card img{
    width: 100%;
}
.blog-cont{
    display: flex;
}
.blog-banner img{
    width: 100%;
}
.blog-details{
    padding: 2rem ;
}
.blog-details h2,p{
    color: white;
}

/* ends */
/* footer section */

footer{
    background-color: #212121;
    padding: 2rem 1rem;
}
.ft-cont{
    display: flex;
}
.ft-logo img{
    width: 100%;
}
.cuz-ft-nav{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}
.cuz-ft-nav ul li a{
    color: white;
    text-decoration: none;
}

.cuz-ft-nav ul h3{
    color: white;
}
.ft-bottom p {
    color: white;
}
/* ends */
/* helpers  */
.active{
    display: flex;
}
.cuz-jf-end{
    justify-content: end;
}
/* ends */

/* background noise */
.bg-noise {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	pointer-events: none;
	overflow: hidden;
}
.bg-noise:before {
	position: absolute;
	content: '';
	top: -10rem;
	left: -10rem;
	width: calc(100% + 20rem);
	height: calc(100% + 20rem);
	z-index: -1;
	pointer-events: none;
	background-image: url(./assets/images/bg-noise.png);
	background-position: 50%;
	animation: BgNoise 1s steps(2) infinite;
}
@keyframes BgNoise {
	0% { transform: translate3d(0, 9rem, 0) }
	10% { transform: translate3d(-1rem, -4rem, 0) }
	20% { transform: translate3d(-8rem, 2rem, 0) }
	30% { transform: translate3d(9rem, -9rem, 0) }
	40% { transform: translate3d(-2rem, 7rem, 0) }
	50% { transform: translate3d(-9rem, -4rem, 0) }
	60% { transform: translate3d(2rem, 6rem, 0) }
	70% { transform: translate3d(7rem, -8rem, 0) }
	80% { transform: translate3d(-9rem, 1rem, 0) }
	90% { transform: translate3d(6rem, -5rem, 0) }
	to { transform: translate3d(-7rem, 0, 0) }
}

/* ends */