
@font-face {
    font-family: 'Eastman Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Eastman Heavy'), url('./font/eastman/AnyConv.com__EastmanRomanTrial-Heavy.woff') format('woff');
    }

    @font-face {
        font-family: 'Eastman Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Eastman Bold'), url('./font/eastman/AnyConv.com__EastmanRomanTrial-Bold.woff') format('woff');
        }


@font-face {
    font-family: 'Avenir Black';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Black'), url('./font/AvenirLTStd-Black.woff') format('woff');
    }
@font-face {
        font-family: 'Avenir Book';
        font-style: normal;
        font-weight: normal;
        src: local('Avenir Book'), url('./font/AvenirLTStd-Book.woff') format('woff');
        }
    @font-face {
        font-family: 'Avenir Roman';
        font-style: normal;
        font-weight: normal;
        src: local('Avenir Roman'), url('./font/AvenirLTStd-Roman.woff') format('woff');
        }
:root{
    --background-blur:blur(10px !important);
    --bg-primary:#fafafa;
    --primary-text:black;
    --secondary-text:rgb(9, 9, 9);
    --primary-font:"Avenir Roman";
    --font-book:"Avenir Book";
    --font-black:"Avenir Black ";
    /* east man fotn */
    --east-bold:'Eastman Heavy';
    --east-bold-II:"Eastman Bold";
    
}

body{

font-family: var(--primary-font), sans-serif !important;
    position: relative;
    color: var(--primary-text);
}
main{
    background: var(--bg-primary);
    z-index: 10;
    position: relative;
    top: 100vh;
    overflow: hidden;
}
@media(max-width:800px){
    main{
        top: 60vh;
    }
}
p{
    font-weight: 100;
    letter-spacing: 2px;
}
header{
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 100;
    font-family: var(--font-book);

}
.cuz-main.w header{
    width: 100vw;
    height: 10vh;
    /* position: absolute; */
    z-index: 100;
    font-family: var(--font-book);
}
.navbar{
    position: fixed;
    width: 100vw;

}
 .blur{
    background:rgb(255 255 255 / 30%)!important; 
    backdrop-filter: blur(6px) !important;
}
/* navbar section  */
.navbar-nav{
    gap: 2rem   ;
}
.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}


@media(max-width:769px){
    .navbar-nav{
        padding-top: 2rem;
    }
}
.nav-item a{
    color: white;
    font-family: var(--east-bold-II);
}
.navbar.black .nav-item a{
    color: white!important;
}
.navbar.black .nav-item a:hover{
    color: #fcb30f !important;
}
.navbar.black .nav-link.active{
    color: #fcb30f !important;

}
.cuz-main.w .nav-item a{
    color: black;
}
.cuz-main.w .nav-item a:hover{
    color: #fcb30f;

}
.nav-item a:hover{
    color: #fcb30f;
}
.navbar-nav .nav-link.active{
    color: #fcb30f !important;
}
.nav-toggle{
    border: none !important;
}
.cuz-nav-toggle span{
    /* filter: invert(1) !important; */
    width: 32px;
                height: 3px;
                background-color: rgb(250, 250, 250);
                border-radius: 50px;
}
.cuz-nav-toggle{
    display: none!important;
}
@media(max-width:825px){
    .cuz-nav-toggle{
        display: flex!important;
    }
    
}
@media(max-width:913px){
    .cuz-nav-toggle{
        display: flex!important;
    }
}
/* ends */
/* Hero section */
.hero-section{
    /* max-width: 1412px; */
    /* margin-inline: auto; */
    /* padding-top: 5rem; */
    z-index: 5;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.hero-section a{
    display: block;
    height: inherit;
}
@media(max-width:800px){
    .hero-section{
        height: 60vh;
    }
}
.hero{
    display: inline-block;
    position: relative;
    width: 100%;
    height: inherit;
}
.hero video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ends */
.cuz-logo img{
    width: 30%;
    filter: invert(1);
}
.cuz-dark-logo img{
    width: 30%;
}

@media(max-width:769px){
    .cuz-logo img{
        width: 50%;
    }
    .cuz-dark-logo img{
        width: 50%;
    }
}
@media(max-width:600px){
    .cuz-logo img{
        width: 70%;
    }
}
@media(max-width:376px){
    .cuz-logo img{
        width: 100%;
    }
}

.title{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    padding-top: 13rem;
    color: var(--east-bold);
    font-family: var(--east-bold-II);
}
.cuz-card{
    background: none !important;
    font-family: var(--primary-font);
    
}
.card-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 2rem 0;
    gap: 1rem;
}


.card{
       width: 300px;
    padding:1rem 1rem 2rem 1rem;
    /* box-shadow: inset 2px -1px 20px 17px rgb(63 120 143 / 34%); */
    border: 0!important;

}
@media(max-width:770px){
    .card{
        width: 190px;
    }
}

.card img{
    width: 100%;
}
.details h2{
    color: var(--east-bold);
    padding-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;

}

.details p {
    color: #585345;
}
.blog-cont{
    display: flex;
    margin-bottom: 2rem;
}
.blog-banner img{
    width: 100%;
}
.blog-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem ;
}
.blog-details h2{
    color: var(--primary-text);
    margin-bottom: 2rem;
}
.cuz-btn{
    padding: .5rem 1.5rem;
    background-color: #fcb30f;
    color: white;
    text-decoration: none;
}
@media(max-width:600px){
    .card-cont{
        justify-content: center;
    }
    .blog-cont{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width:769px){
    .card-cont{
        flex-wrap: wrap;
        justify-content: center;
    }
}
/* ends */

/* page inner  */
.content-I{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.pr-model{
    font-size: 1em;
    font-weight: 100;
    color: var(--primary-text);
}
.pr-name{
    color: var(--primary-text);
    font-weight: 800;
}
.size-table{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
   gap: 1rem;
}
.size-table h3{
    padding: 1rem 1.5rem;
    border: 1px solid var(--primary-text);
    color: var(--primary-text);
    cursor: pointer;
}
.size-table h3:hover{
    background-color: #000;
    color: white;
}
 .click{
    background-color: #000;
    color: white!important;

}
/* form section */
.contact .form input, .contact .form textarea {
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 1px solid #ddd; }
  
  .contact .form textarea {
    height: 160px; }
  
  .contact .cont-info .extra-title {
        
    font-size: 28px;
    margin-bottom: 15px;
    font-family: var(--east-bold-II);

 }
  
  .contact .cont-info h5 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
   }
   .contact .cont-info h5 a{
    color: white;
    text-decoration: none;
   }
  
    .contact .cont-info h5:last-of-type {
      color: #222;
      font-weight: 800; }
  
  .contact .cont-info h6 {
    line-height: 1.6;
    font-size: 16;
    font-weight: 400; }
/* ends */
.pr-cont-image{
display: grid;
grid-template-columns: 539px 80px;
gap: 1rem;
}
.pr-cont-image img{
    width: 100%;
}
/* ends */
/* list page  */
.cuz-main{
    background: var(--bg-primary);
    z-index: 10;
    position: unset;
    top: 0;
    /* overflow: scroll; */
}

/* swiper css */
.swiper-slide img{
    width: 100%;
}
/* ends */
/* ends */



/* inner page  */
.swiper-button-prev,.swiper-button-next{
    color: black!important;
}
/* ends */









/* footer section */

footer{
    background-color: #ffffff;
    padding: 2rem 1rem;
}
.ft-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ft-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-right: #ddd 1px solid;
}
.ft-logo img{
   max-width: 120px;
}
.ft-logo-extent{
    width: 60%;
    padding-left: 2.5rem;   
}
.ft-logo-extent h3{
    color: black;
    font-weight: 900;
    font-size: 1.3em;
    font-family: var(--east-bold-II);

}
.ft-logo-wrapper{
    display: flex;
    align-items: center;
}

@media(max-width:600px){
    .ft-logo img{
        width: 100%!important;
        padding-right: 10px;
    }
    .ft-logo-wrapper{
        justify-content: center;
    }
}
@media(max-width:426px){
    .ft-logo-extent h3{
        font-size: 1em;
    }
}
@media(max-width:1025px){
    .ft-logo img{
        width: 75%;
    }
}

.cuz-ft-nav{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}
.cuz-ft-nav ul li a{
    color: white;
    text-decoration: none;
}

.cuz-ft-nav ul h3{
    color: white;
}
.ft-bottom p {
    color: white;
}
.cuz-ft-flex{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 9rem;

}
.social-flex{
    display: flex;
    justify-content: space-between;
}
.cuz-ft-flex h3{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}
.cuz-ft-flex ul{
    font-family: var(--font-book);
    padding: 0;
}
.cuz-ft-flex ul li {
    list-style-type: none;
}
.cuz-ft-flex ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: .9em;
    font-weight: 200;
}
.cuz-ft-flex ul li a:hover{
    color: #b4b4b4;
}
@media(max-width:769px){
    .cuz-ft-flex{
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
    }
    .cuz-ft-flex ul {
        font-family: var(--font-book);
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-flex{
        gap: 1rem;
    }
}
@media(max-width:600px){
    .ft-cont{
        flex-direction: column;
        gap: 0;
        align-items: center;
        gap: 5rem;
    
    }
    .cuz-ft-flex{
      flex-direction: column;
      align-items: center;
      gap: 4.5rem;
  
    }
    .cuz-ft-flex ul{
      text-align: center;
    }
  }
/* ends */

/* product inner carousel */

.carousel-item {
    padding: 15px;
    cursor: -webkit-grabbing;
  }
  .carousel-item img {
    border-radius: 30px;
    height: 500px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.21);
    transition: 0.25s linear;
  }
  .carousel-item:hover img {
    transform: translatey(-1%);
  }
  
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9 ;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 2px;
    position: relative;
    top: 30px;
  }
  .carousel-indicators li.active {
    background: #fff;
  }
  /* button start */
  .btn-curve {
    background: transparent;
    padding: 14px 35px;
    border: 1px solid #1e1e1e;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .btn-curve:hover:after {
      bottom: -10px;
      border-radius: 0; }
    .btn-curve:hover span {
      color: #fff; }
    .btn-curve:after {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: 100%;
      background: #1e1e1e;
      border-radius: 0 0 100% 100%/0 0 100% 100%;
      -webkit-transition: all 0.6s cubic-bezier(1, 0, 0.55, 1);
      -o-transition: all 0.6s cubic-bezier(1, 0, 0.55, 1);
      transition: all 0.6s cubic-bezier(1, 0, 0.55, 1); }
    .btn-curve span {
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
      z-index: 2;
      -webkit-transition: all .8s;
      -o-transition: all .8s;
      transition: all .8s; }
    .btn-curve.btn-lit {
      border-color: #fff;
      color: #fff; }
      .btn-curve.btn-lit:hover span {
        color: #1e1e1e; }
      .btn-curve.btn-lit:after {
        background: #fff; }
    .btn-curve.btn-blc {
      background: #1e1e1e; }
      .btn-curve.btn-blc:after {
        background: #fff; }
      .btn-curve.btn-blc span {
        color: #fff; }
      .btn-curve.btn-blc:hover span {
        color: #1e1e1e; }
    .btn-curve.btn-lg {
      padding: 14px 40px; }
      .btn-curve.btn-lg span {
        font-size: 14px; }
    .btn-curve.btn-wit {
      background: #fff;
      border-color: #000000; }
      .btn-curve.btn-wit:after {
        background: #090909; }
      .btn-curve.btn-wit span {
        color: #1e1e1e; }
      .btn-curve.btn-wit:hover span {
        color: #fff; }
    .btn-curve.btn-radius {
      border-radius: 30px; }
  /* ends */
  @media only screen and (max-width: 650px) {
    .carousel-item img {
      height: auto;
    }
  }
  .carousel-control-prev {
    left: -50px;
    margin: 0 -25px;
  }
  
  .carousel-control-next {
    right: -50px;
    margin: 0 -25px;
  }
/* ends */

/* categories */
.categories{
       /* position: fixed; */
       transform: translate(8%, 272%);
       top: 14%;
       left: 5%;
       z-index: 99;
       display: flex;
       align-items: center;
       gap: 3rem;
       padding: 0.5rem;
       border-radius: 25px;
}

.categories ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}
.categories ul li{
    color: #a0a0a0;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

@media(max-width:913px){
    .categories{
        position: static;
transform: translate(103px, 110px);
top: 14%;
left: 5%;
z-index: 99;
display: flex;
align-items: center;
gap: 3rem;
padding: 0.5rem;
border-radius: 25px;
}

}
@media(max-width:826px){
    .categories{
        position: static;
transform: translate(39px, 131px);
top: 14%;
left: 5%;
z-index: 99;
display: flex;
align-items: center;
gap: 3rem;
padding: 0.5rem;
border-radius: 25px;
}
}
@media(max-width:541px){
    .categories{
        position: static;
        transform: translate(15px, 94px);
        top: 14%;
        left: 5%;
        z-index: 99;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
        border-radius: 25px;
    }
    .categories ul{
        gap: 1rem;
    }

}
.navbar-collapse{
    z-index: 120;
}
.categories h2{
    color: #000000;
    margin: 0;
    font-family: var(--east-bold);
}

.add{
    background: rgb(0, 0, 0);
    border-radius: 20px;
}


@media(max-width:500px){
    .categories{
        top: 11%;
        left: 3%;
        flex-direction: row;
        gap: 0;
    }
    .categories ul{
        flex-direction: row;
        gap: 0;
    }
    .categories ul li{
            font-size: .9em;
    }
}
@media(max-width:426px){
    .categories{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        transform: translate(14px, 112px);
    }
    .cuz-dark-logo img{
        width: 80%;

    }
    /* .categories ul {} */
}
/* ends */

.navbar.black .cuz-logo img{
    filter: invert(1);
}
.cuz-main.w .cuz-nav-toggle span{
    background-color: #000;
}
.navbar.black .cuz-nav-toggle span{
    background-color: white;
}
.navbar.black .cuz-logo img{
    filter: invert(1)!important;
}
.navbar.black .cuz-dark-logo img{
    filter: invert(1)!important;
}
.navbar.black .nav-link{
    color: white ;
}

/* helper  */
.fl-start{
    justify-content: flex-start;
}
.cuz-mt-11{
    margin-top: 11rem !important;
}
.v-none{
    visibility: hidden;
}
.black{
    background: black;
}
.cuz-play-ov{
    position: relative;
}
.cuz-play-ov::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    background-color: #0d0d0dc8;
    z-index: 10;
    transition: all 0.5s ease-in;
}

.cuz-play-ov i{
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 4.5em;
    color: grey;
    transition: all 0.5s ease-in;
    z-index: 20;
}

.cuz-play-ov i ,.cuz-play-ov::after{
    opacity: 0;
}
.cuz-play-ov:hover  i{
    opacity: 1;
    transition: all 0.4s ease-in;
}
.cuz-play-ov:hover::after{
    opacity: 1;
    transition: all 0.4s ease-in;

}
@media(max-width:769px){
    .cuz-play-ov i{
        font-size: 2.5em;
    }
}

.cuz-film-flex{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-bottom: 3rem;
}
@media(max-width:750px){
    .cuz-film-flex{
        flex-direction: column;
        
    }
}
.cuz-bt{
    margin-bottom: 1rem;
}
.cuz-mt{
    margin-top: 5rem;
}
.cuz-mt-10{
    margin-top: 10rem;
}
.cuz-pt-9{
    padding-top: 9rem;
}
.cuz-pt{
    padding-top: 3rem;
}
.cuz-pb{
    padding-bottom: 3rem;
}
/* ends */

/* look book */
.cuz-skate{
    display: flex;
  justify-content: center;
    padding: 2rem 3rem;
}
.cuz-skate h1{
    font-family: var(--east-bold)!important;
    display: flex;
    flex-direction: column;

}
.cuz-skate h1 span {
    transform: translate(80px, -9px);
    color: #fcb30f;
}
.cuz-h-img{
    display: flex;
    align-items: center;
    justify-content: center;

}
.cuz-h{
    width: 100%;
}

@media(min-width:1023px){
    .cuz-h-img{
        /* background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        flex-basis: auto !important;
    height: auto; */
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: auto !important;
    height: auto;

    }
}
.cuz-p .h2{
   font-weight: 700;
   font-family: var(--east-bold);
}
.cuz-intro {
    margin-inline: auto;
    margin-bottom: 2rem;
}
.cuz-intro h1{
        line-height: .8;
        font-weight: 900;
        font-size: 3.5rem;
}

.cont-up h1{
    font-weight: 700;
    font-size: 3.5em;
    transform: scale(1) translate(-4px, 29px);
}
.cont-up h2{
    letter-spacing: 8px;
    margin: 0;
}
.cont-up h2 span{
    font-size: 1.5em;
    transform: translate(-7px, 0px);
    display: inline-block;
}
.cont-up p{
    font-style: italic;
    margin-bottom: 0;
    transform: translateY(-3px);
}
.pr-details{
    display: flex;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1rem; */
    border: 1px solid;
    
}
.ty-flex{
    display: flex;
    flex-direction: column;
    gap: 19rem;
    justify-content: center;
}
.ty-col-I{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 15rem!important;
}
.ty-col-II{
    font-size: 4.5em;
    text-align: end;
    margin-bottom: 4rem;
    font-family: var(--east-bold-II);
}

@media(max-width:1440px){
    .pr-details{
        margin-bottom: 1rem;
    }
}
.pr-details h3{
    font-size: 1.5em;
    letter-spacing: -1px;
    font-weight: 700;
    border-right: 1px solid;
    margin: 0;
    padding: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media(max-width:465px){
    .pr-details h3{
        border-right: 0;
        border-bottom: 1px solid ;
    }
}
.price{
    font-family: var(--primary-font);
    font-weight: 700;
}
.price span{
    font-family: var(--font-book);
    font-weight: 500;
    font-size: 2em;
    margin-left: 1rem;
}
@media(max-width:465px){
    .pr-details{
        flex-direction: column;
    }
}
@media(max-width:426px){
    .cuz-intro h1{
        width: 50%;
        margin-inline: auto;
    }
}
.cuz-intro h1 span{
    color: #fcb30f;
    margin-left: 10px;
}
.story{
    text-align: justify;
}
.product{
    display: flex;
    flex-direction: column;
    padding: 0 4rem 0;
    justify-content: flex-start;
    gap: 1rem;
}
@media(max-width:1440px){
    .product{
        justify-content: center;
    }
}
.product h1{
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 2rem;
}

.product ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem;
}
.product ul li span{
    font-size: 1.5em;
    font-weight: 900;
}

.look-head{
    font-family: var(--font-book);
    font-weight: 700;
    font-size: 3.5em;
    margin-bottom: 4rem;
}
@media(max-width:769px){
    .look-book-flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    .look-head{
        font-size: 2.5em;
    }
}

/* ends */

/* unit gallery  */
.top-lab{position:relative;padding:0 5%;margin:120px auto;}
.top-lab.scroll{padding:0;}
.top-lab-inner{position:relative;padding:58.18% 0 0;overflow:hidden;}
.top-lab-inner::after{content:" ";display:block;position:absolute;bottom:0;left:0;width:100%;height:100%;background:rgba(255,255,255,1);z-index:3;transition:0.8s ease-in-out;}
.top-lab.inview .top-lab-inner::after{height:0;}
.top-lab-inner img{object-fit: cover;width: 120%;height: 120%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%);transition:0.8s ease-in-out;}
.top-lab.inview .top-lab-inner img{width: 100%;height: 100%;}
.top-lab-info{position: relative;width:90%;max-width:780px;background:#fff;box-sizing:border-box;padding:50px 5%;margin:-80px auto 0;display: flex;flex-wrap: wrap;z-index: 3;}
.top-lab-title-l{width:40%;text-align: center;}
.top-lab-title-l img{max-width: 120px;height: auto;}
.top-lab-txt{
    border-left:#ddd 1px solid;padding:0 35px 0 8%;position: relative;width: 60%;max-width: 380px;box-sizing: border-box;
display: flex;
align-items: center;


}
.top-lab-txt a{
    text-decoration: none;
    color: #000;
    font-family: var(--east-bold-II);
}
.top-lab-txt a:hover{
    color: #222;
}
.top-lab-txt small{font-size:10px;display:block;padding:5px 0 0;}
.top-lab-btn{font-size:0;width:25px;height:25px;border:1px #707070 solid;border-radius:12.5px;position:absolute;top:calc(50% - 12.5px);right:0;}
.top-lab-btn::before {content: " ";position: absolute;right:7px;top: 50%;width: 11px;height: 1px;background: #000;}
.top-lab-btn::after {content: " ";position: absolute;right:7px;top: 50%;margin: -4px 0 0 0;width: 9px;height: 9px;border-top: 1px solid #000;border-right: 1px solid #000;-webkit-transform: rotate(45deg);transform: rotate(45deg);rm: rotate(45deg);}
@media screen and (max-width:800px) {
.top-lab{margin:60px auto;}
.top-lab-inner{padding:100% 0 0;}
.top-lab-inner img{
    object-fit: contain;
}
.top-lab-txt{
    justify-content: center;
}
.top-lab .top-lab-info{display:block;padding: 30px 5%;margin:-40px auto 0;}
.top-lab-title-l{width:auto;padding:0 0 20px;}
.top-lab-title-l img{max-width: 100px;}
.top-lab-txt{border-left: none;padding: 0;width: auto;text-align: center;max-width: none;}
.top-lab-btn{margin: 15px auto 0;position: relative;display:block;max-width: 120px;width: 100%;line-height: 40px;height: 40px;font-size: 13px;border-radius: 20px;background: #000;color: #fff;border: none;}
.top-lab-btn::before{content:none;}
.top-lab-btn::after{content:none;}
}
/* ends */







/* custome scroll bar */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color:  #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: .5;

  }

  *::-webkit-scrollbar-track {
    background: #ffffff04;
    /* display: none; */
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2d2d2d;
    border-radius: 10px;
    height: 4rem;
    border: 3px solid #ffffff00;
  }
/* ends */











/* helpers  */
.ft-easy{
    font-family: var(--east-bold-II);
}
.cuz-flex-al{
    flex-direction: column;
    align-items: flex-start;
}
.cuz-ov{
    overflow: hidden;
}
.cuz-ov img{
    transform: scale(1.6) translateY(52px);
}
.cuz-md-m{
    margin-top: 10rem!important;
}
@media(max-width:700px){
    .cuz-md-flex{
        display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 3rem;
    gap: 3rem;
    }
}

.active{
    display: flex;
}
.cuz-jf-end{
    justify-content: end;
}
.cuz-flex{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}
.cuz-jf-c{
    justify-content: center;
    align-items: center;
}
.cuz-p{
    position: relative;
}
.cuz-row-re{
    flex-direction: row-reverse;
    justify-content: flex-end   ;
}
@media(max-width:769px){
    .cuz-row-re{
        flex-direction: column-reverse;
    }
}
.cuz-p-unset{
    position: unset;
}
.cuz-tf-end{
    text-align: end;
}
/* ends */

/* product inner */
.cuz-ul{
    font-size: 1.2em;
}
.cuz-ul li{
    list-style-type: disc;
}
/* ends */

/* gallery */
.cuz-page-header .img-wrapper{
    position: relative;
    min-height: 30vh;
}
.cuz-gallery-wrapper .row .categories{
    transform: translate(0,0);
    margin-bottom: 5rem;
    z-index: 99;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0.5rem;
    border-radius: 25px;
}

.gal-grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.gal-grid-container .card{
    width: auto;
}
.gal-page-header{
    background: linear-gradient(45deg, black, transparent) ,url(./assets/gallery/hero-banner.jpg);
    color: var(--primary-text);
    background-repeat: no-repeat;
    min-height: 47vh;
    background-size: cover;

}
.gal-img-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 47vh !important;
}
.gal-img-wrapper .title{
    position: unset !important;
}
.gal-img-wrapper .title .container h3{
    color: white !important;
}
.gal-logo img{
    filter: invert(1);
}
.gal-menu span{
    background-color: white !important;
}
.gal-nav .nav-item a{
    color: white !important;
}
/* helper */
.gal-cat-mt-top{
    margin-top: 5rem !important;
}
.gal-js-center{
    justify-content: center;
}
.cuz-js-gap{
        justify-content: center;
    grid-row-gap: 3rem;
    margin-bottom: 5rem;
}
.cuz-p-none{
    padding: 0;
}
@media(max-width:1025px){
    .cuz-gallery-wrapper .row .categories{
        flex-direction: column;
    }
}
@media(max-width:768px){
    .cuz-container{
        max-width:100vw!important;
    }
}
@media(max-width:570px){
    .categories ul{
        flex-direction: column;
    }
}
@media (max-width:520px) {
    .cuz-js-gap{
        flex-direction: column;
        align-items: center;
    }
    .cuz-gallery-wrapper .row .categories{
        flex-direction: column;
    }
}

/* ends */
/* ends */